body {
    margin:0;
}

.editButtons {
    margin:5px;
}

.AppMain {    
    width: 100vw;
}

.AppCanvas {
    margin-left: 100px;
    background-color: antiquewhite;
    /* width:100%; */
}

.controlPanel {
    margin:10px;
}